body{
    background-color: rgb(0, 0, 0);

}
img{
    height: 300px;
    border: 5px; 
    border-radius: 50px;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    padding: 50px;
}

