body{
    background-color: rgb(0, 0, 0);

}
img{

    width: 300px;
    height: 200px;
    object-fit: cover;
    border: 5px solid rgb(255, 255, 255); 
    border-radius: 50px;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-size: xx-large;
    padding: 50px;
}

